# ─── SharaSpot Client ───

# Backend API URL (your VPS domain or IP)
NEXT_PUBLIC_BACKEND_URL=https://YOUR_DOMAIN

# Google sign-in Client ID
NEXT_PUBLIC_GOOGLE_CLIENT_ID=354664818470-veljl4900p28hf0i81u0r959ra11ihjt.apps.googleusercontent.com
