node_modules/

# Next.js
.next/
out/
build/

# Server
dist/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Credentials
*.pem
.key

# SQLite
*.db
*.db-journal
